<!DOCTYPE html>
<html lang="en">
<head>
     {{>headerlinks}} 
</head>
<body>
    <h1>hello</h1>
    

     <!--footer start-->
      <footer>
        <p class=" text-center ft-text">Created with ❤️ by Vijay Web Creation</p>
      </footer>
      <!--footer end-->

    
</body>
</html>
